URL_API_INVENTORY=http://localhost:8000

APP_ENVIRONMENT=debug
APP_BCRYPT_COST=10

HTTP_SERVER_HOST=0.0.0.0
HTTP_SERVER_PORT=8000
HTTP_SERVER_GRACE_PERIOD=15
HTTP_SERVER_REQUEST_TIMEOUT_PERIOD=10
HTTP_SERVER_API_KEY="the-api-key"

DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="postgres"
DB_PORT=5432
DB_NAME="postgres"
DB_SSL_MODE="disable"
DB_MAX_IDLE_CONN=10
DB_MAX_OPEN_CONN=100
DB_CONN_MAX_LIFETIME=60

LOGGER_LEVEL=1
